# Python
__pycache__/
*.pyc

# Entornos virtuales
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Data y outputs grandes
data/
outputs/
*.csv
*.parquet

# Credenciales Kaggle
#.kaggle/

# Logs y archivos temporales
*.log
errorsinstalls.txt

# Git Ignore
.DS_Store